<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coding.guide.mobile.mapper.IntegralLevelMapper">


    <select id="getIntegralLevelByIntegral" resultType="com.coding.guide.mobile.entity.IntegralLevel">
        SELECT level, `describe`, background_color
        FROM t_integral_level
        WHERE #{integral} >= lowest_integral
          AND del_flag = 0
        ORDER BY lowest_integral DESC LIMIT 0,1
    </select>

</mapper>