<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coding.guide.mobile.mapper.QuestionMapper">

    <sql id="field01">
               id,
               title,
               recommend,
               read_count,
               like_count,
               collect_count,
               meet_count,
               difficulty,
               tags,
               publish_time
    </sql>

    <select id="selectHottestQuestionByLimit" resultType="com.coding.guide.mobile.entity.Question">
        SELECT
        <include refid="field01"/>
        FROM `t_question`
        WHERE del_flag = 0
          AND is_public = 1
        ORDER BY read_count DESC, like_count DESC, collect_count DESC, comment_count DESC
        LIMIT #{page},#{size}

    </select>
    <select id="searchHottestQuestionByKeyWordAndLimit" resultType="com.coding.guide.mobile.entity.Question">
        SELECT
        <include refid="field01"/>
        FROM `t_question`
        WHERE del_flag = 0
        AND is_public = 1
        AND title like CONCAT('%',#{keyword},'%')
        ORDER BY read_count DESC, like_count DESC, collect_count DESC, comment_count DESC
        LIMIT #{page},#{size}
    </select>
    <select id="selectQuestionCountByKeyWord" resultType="java.lang.Long">
        SELECT count(*)
        FROM `t_question`
        WHERE del_flag = 0
        AND is_public = 1
        AND title like CONCAT('%',#{keyword},'%')
    </select>
    <select id="searchLatestQuestionByKeyWordAndLimit" resultType="com.coding.guide.mobile.entity.Question">
        SELECT
        <include refid="field01"/>
        FROM `t_question`
        WHERE del_flag = 0
        AND is_public = 1
        AND title like CONCAT('%',#{keyword},'%')
        ORDER BY id DESC
        LIMIT #{page},#{size}
    </select>
    <select id="searchRecommendQuestionByKeyWordAndLimit" resultType="com.coding.guide.mobile.entity.Question">
        SELECT
        <include refid="field01"/>
        FROM `t_question`
        WHERE del_flag = 0
        AND is_public = 1
        AND recommend = 1
        ORDER BY read_count DESC, like_count DESC, collect_count DESC, comment_count DESC
        LIMIT #{page},#{size}
    </select>
    <select id="selectRecommendQuestionCountByKeyWord" resultType="java.lang.Long">
        SELECT count(*)
        FROM `t_question`
        WHERE del_flag = 0
        AND is_public = 1
        AND recommend = 1
        AND title like CONCAT('%',#{keyword},'%')
    </select>
    <select id="selectQuestionByTagIdAndLimit" resultType="com.coding.guide.mobile.entity.Question">
        SELECT
        <include refid="field01"/>
        FROM t_question
        WHERE id IN (SELECT question_id FROM t_question_tag WHERE tag_id = #{tagid})
        AND del_flag = 0
        AND is_public = 1
        ORDER BY sort DESC
        LIMIT #{page},#{size}
    </select>
    <select id="selectQuestionCountByTagId" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM t_question
        WHERE id IN (SELECT question_id FROM t_question_tag WHERE tag_id = #{tagid})
        AND del_flag = 0
        AND is_public = 1
    </select>
    <select id="selectQuestionDetail" resultType="com.coding.guide.mobile.entity.Question">
        SELECT id,
               user_id,
               title,
               content,
               allow_comment,
               recommend,
               read_count,
               like_count,
               collect_count,
               comment_count,
               meet_count,
               difficulty,
               tags,
               publish_time
        FROM t_question
        WHERE is_public = 1
        AND del_flag = 0
        AND id=#{id}
    </select>


</mapper>