<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coding.guide.mobile.mapper.QuestionReplyMapper">

    <sql id="question_reply_vo_field01">
        tqr.id,
        user_id,
        tu1.nick_name,
        content,
        reply_time,
        like_count,
        tu1.avatar,
        replied_user_id,
        tu2.nick_name
    </sql>

    <select id="selectListVoByCommentIdAndLimit" resultType="com.coding.guide.mobile.vo.QuestionReplyVO">
        SELECT
        <include refid="question_reply_vo_field01"/>
        FROM t_question_reply AS tqr
                 LEFT JOIN t_user AS tu1 ON tqr.user_id = tu1.id
                 LEFT JOIN t_user AS tu2 ON tqr.replied_user_id = tu2.id
        WHERE comment_id = #{commentId}
          AND tqr.del_flag = 0
        ORDER BY like_count DESC, reply_time DESC
            LIMIT #{page},#{size}
    </select>

    <select id="selectCountByCommentId" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM t_question_reply
        WHERE comment_id = #{commentId}
          AND del_flag = 0
    </select>

</mapper>